@font-face {
    font-family: NanumSquareWeb;
    src: url(NanumSquareR.woff) format('woff')
  }
*{
    margin: 0;
    padding: 0;
}

body {
    min-width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #a9bdf5;
    background-image: url('/image/bg-image.jpg');
    color: rgba(255, 255, 255, 0.8);
    font-family: 'PT Sans', sans-serif;
}

.wrap{
    margin-top: 50px;
}

/*header*/
.header{
    width: 45%;
    height: 294px;
    margin: 20px 0 0 70px;
    background-color: #6888E5;
    border-radius: 20px;
    float: left;
    position: relative;
    z-index: 999;
}
h1.title {
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
    margin-left: 20px;
    font-weight: lighter;
} 
p.back_code {
    white-space:pre;
}
p.note{
    font-family: 'NanumSquareWeb';
    font-weight: bolder;
    margin-left: 20px;
    font-size: 15px;
}

#pond{
    margin-top: 20px;
    width: 864px;
    margin-right: 70px;
    height: 780px;
    padding: 1em;
    float: right;
    background-color: #385096;
    position: relative;
    z-index: 999;
    overflow: hidden;
    display: flex;
    border-radius: 4px;
}
.dwarf{
    width: 230px;
    height: 230px;
}
.fourth-flex-direction{
    flex-direction: row-reverse;

}
.fourth-justify-content{
    justify-content : space-between;
}

/*editor*/
#editor{
    position: relative;
    float: left;
    width: 30%;
    height: 400px;
    margin: 20px 0 0 70px;
    position: relative;
    z-index: 999;
}
#editor, pre{
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #777;
}
#css {
    height: 479px;
    position: relative;
    width: 100%;
    padding: 10px 10px 10px 40px;
    background-color:#DBE1F2;
    border-radius: 4px;
    overflow: hidden;
    float: left;
} 
.line-numbers {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 6px;
    text-align: right;
    background-color: #999;
    color: #D5D5D5;

}
#code {
    display: block;
    width: 95%;
    height: 24px;
    margin-left: 20px;
    margin-right: 10px;;
    border: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    outline: none;
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
}

/* next page button */
#next {
    display: inline-block;
    padding: 0.4em 0.8em;
    background-color: #D11606;
    border: none;
    border-radius: 4px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    appearance: none;
    position:absolute;
    bottom: 10px;
    right: 10px;
}
/* background */
#background {
    z-index: 10;
    border-radius: 0 0 0 10px;
    background-color: #1F5768;
}
.bg{
    float:left;
    width: 100%;
    height: 870px;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
}

/* buuton */
#button {
    position: relative;
    top : 20px;
    left: 70px;
    width: 11%;
    height: 500px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-color{
    background-color: #DBE1F2;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 4px;
}

button:active {
    outline: none;
    }
button:not(.disabled):hover {
background-color: #F12D22;
}

.btn {
    width: 170px;
    height: 100px;
    margin-left: 10px;
    display: inline-block;
    background-color: #7E93CF;
    border: none;
    border-radius: 4px;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    appearance: none;
    position:absolute;
    left:20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#next-button:not(.disabled):hover {
    background-color: #bbc2d8;
}

/* level 버튼 */

.level-nav{
    position: absolute;
    right: 450px;
    top: 460px;
    line-height: 0;
    z-index: 999;
}
  
.level-nav a{
    padding: 5px;
    position: relative;
    height: 30px;
    width: 30px;
    display: inline-block;
}
  
.level-nav a:hover{
    opacity: .4;
}
  
.level-nav a:after{
    content: "";
    height: 18px;
    width: 18px;
    position: absolute;
    border: solid 4px white;
    border-width: 5px 5px 0 0;
    transform-origin: center center;
    top: 6px;
    box-sizing: border-box;
}
  
.level-nav .previous:after {
    transform: rotate(-135deg);
    right: 400px;
}
  
.level-nav .next:after{
    transform: rotate(45deg);
    left: 350px;
}
  

#center {
    bottom: 350px;
}
#flex-end {
    bottom: 200px;
}
#flex-start{
    float:right;
    bottom: 50px;
}
#next-button{
    position: absolute;
    top:0;
    right:0;
    width: 50px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

/* mediaquery */

@media screen and (max-width: 1884px) {
    .wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header{height:80px;margin-left:120px;}
    .note{
        display:none;
    }
    #view{width:44.5%;height:600px; margin-right: 0;}
    #board{ margin-left:34px;width: 100%; height: 100%;overflow: hidden;}
    #pond{margin-left:50px;width: 100%; height: 100%;position: relative; float: left; overflow: scroll;}
    .dwarf{width:150px; height:150px;}
    .bg{
        width: 100%;
        height: 100%;
    }
    #button{
        display:none;
    }
    .level-nav{
        left: 53%;
    }
  }

  @media screen and (min-width: 2353px) {
    #button{
        float: left;
    }
  }

  /* 
  1. 미디어쿼리에서 pond와 note의 height %나 rem을 이용-> 반응형으로 수정
  */